@model Section

@*@Html.HiddenFor(m => m.FKTemplateId, new{@Value = Model.FKTemplateId} )*@

<form method="post" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Section</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<input asp-for="SectionId"  type="hidden"   />
		<input asp-for="CreatedAt"  type="hidden"   />
		<input asp-for="CreatedBy" type="hidden">
		<input asp-for="FKTemplateId" type="hidden" >
		<div class="mb-3">
			<label asp-for="SectionName"></label>
			<input asp-for="SectionName" class="form-control" />
			<span asp-validation-for="SectionName" class="text-danger"></span>
		</div>
		
		<button type="submit" class="btn btn-primary" style="width:150px">Save</button>
		<a asp-controller="Section" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>


@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}